<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ListIt!.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5512D5E71D3E93C2008529F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5512D6031D3E93C2008529F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5512D60E1D3E93C2008529F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
